<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="img-fluid" alt="<%= @product.name %>">
    </div>
    <div class="col-md-6">
      <h2><%= @product.name %></h2>
      <p>Preço: R$<%= @product.price %></p>
      <!-- Add other product details here if needed -->

      <!-- Add to Cart button -->
    <%= form_with(url: cart_add_path) do |f| %>
      <%= f.hidden_field :id, value: @product.id %>
      <%= f.number_field :quantity, value: 1, min: 1 %>
      <%= f.submit "Adicionar ao Carrinho" %>
    <% end %>
    </div>
  </div>
</div>

<div>
  <%= link_to "Editar produto", edit_product_path(@product) %> |
  <%= link_to "Ver produtos", products_path %>
  <%= button_to "Excluir esse produto", @product, method: :delete %>
</div>
